name: Github Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    name: Publish Book
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install mdBook
        run: |
          wget 'https://github.com/rust-lang/mdBook/releases/download/v0.4.30/mdbook-v0.4.30-x86_64-unknown-linux-gnu.tar.gz' --output-document 'mdbook.tar.gz'
          tar -zxvf mdbook.tar.gz
          ls

      - name: Build Book
        run: ./mdbook build

      - name: Deploy pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
